<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Leaf Bot</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Unsound Horticulture
      </h1>
    </header>

    <main>
      <section>
        <button id="reload">
          Reload
        </button>
        <button id="transmogrify">
          Transmogrify
        </button>
      </section>
      <section class="" id="flim">
        <svg></svg>
      </section>
      <section class="" id="flam">
        <svg></svg>
      </section>
      <section class="" id="blender">
        <svg width="20em" height="20em" viewbox="-10 -8 20 20"
    xmlns="http://www.w3.org/2000/svg"><path></path></svg>
      </section>
    </main>

    

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://unpkg.com/flubber"></script>
    <script src="/client.js"></script>
    

  </body>
</html>
