/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

h1 {
  font-weight: bold;
  color: pink;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

main {
  display: grid;
  grid-auto-rows: repeat(3, minmax(5em, 21em));
  grid-template-columns: repeat(2, minmax(5em, 21em));
}

section {
  margin: 2em 5em;
}

#flim{
  grid-row: 2;
  grid-column: 1;
}
#flam {
  grid-row: 2;
  grid-column: 2;
}
#blender {
  grid-row: 3;
  height:100%;
  
}




/** for later **/
/** https://codepen.io/roomthily/pen/QgyxXp?editors=1100 **/
/* svg{
  fill: rgba(237, 12, 113, 0.1);
  transform: rotate(-30deg);
} */
